*, *::before, *::after { box-sizing: border-box; }

body {
    margin: 0px;
    background-color: white;
    background-image: url(pics/backg-img1.jpg);
    background-size: cover;
}

.container {

}

ul.header-menu {
    list-style-type: none;
    margin: auto;
}

header.header-wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 60, 60);
}

ul.header-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

li.li-top {
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Play', sans-serif;
    font-size: 25px; 
    font-weight: bold;
}

a {
    color: rgb(236, 227, 227);
    text-decoration: none;
}

a:hover {
    color: white;
}

.main-languages-div {
    margin-left: 500px;
    margin-top: 250px;
}

.languages-div {
    display: flex;
    align-items: center;
    width: 1500px
}

#languages-div1 {
    margin-bottom: 100px;
}

#languages-div2 {
    margin-bottom: 100px;
}

#images {
    width: 180px;
    opacity: 80%;
}

.languages {
    color: white;
}

.language-name {
    font-size: 80px;
    margin: 0px;
}

.language-full-name {
    font-size: 35px;
    margin: 0px;
    margin-bottom: 25px;
}

.languages-container {
    width: 500px;
}
// .description-list-1 {
//     margin-left: 100px;
// }

// .description-list-2 {
//     margin-left: 150px;
// }

// .description-list-3 {
//     margin-left: 200px;
// }

.description {
    font-size: 25px;
    font-style: normal;
}